<head><link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/></head>

<!-- Toolbar -->
<div class="toolbar container-fluid bg-secondary" role="banner">
  <div class="row align-items-center">
    <div class="col-6 d-flex justify-content-start">
      <img
        class="logo img-fluid"
        src="assets/img/LogoTitleHorizontal.svg" alt="Battle Maps Logo"/>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <a role="button" class="btn btn-outline-success" routerLink="../about">About Battle Maps</a>
    </div>
  </div>
</div>

<div class="container-fluid p-0 m-0">
  <app-show-map></app-show-map>
</div>

<!-- Footer -->
<footer class="footer bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="mailto:1603848714584@carlsonmckinnon.com?subject=Contact Battle Maps" class="text-success">Contact</a>
          </li>
        </ul>
        <p class="text-light small mb-4 mb-lg-0">Copyright © <a href="http://carlsonmckinnon.com" class="text-success">Carlson McKinnon Consulting, LLC</a> {{copyrightYear}} — v{{ version }}</p>
      </div>
    </div>
  </div>
  </footer>