<head>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap" rel="stylesheet">
</head>

<div class="content">
  <h1>{{selectedScenario}}</h1>
  <div class="content" id="map-holder">
    <img (load)="onLoad()" src={{mapDisplay}}>
    <div *ngIf="isLongLoading" id="overlay" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>  
  </div>
  <i style="color: darkslategray;">{{dwarfText}}</i>
  <button type="button" class="btn btn-success mt-4" (click)="switchMap()">Generate Map</button>
</div>
