.content {
  display: flex;
  margin: 32px auto;
  padding: auto;
  width: 85%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (orientation: landscape) {
  .content {
    width: 50%;
  }
}

#map-holder {
  position: relative;
  width: 100%;
  min-height: 375px;
  height: 50vh;
}

#overlay {
  position: absolute;
  align-content: center;
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

#mapViewer {
  position: absolute;
  align-content: center;
  width: 100%;
  z-index: 1;
}

#legendViewer {
  position: absolute;
  align-content: center;
  width: 100%;
  z-index: 2;
}

#buttonContainer {
  z-index:3;
}

#share-modal-content {
  margin: auto;
  width: auto;
}
