.content {
  display: flex;
  margin: 32px auto ;
  padding: auto;
  width: 85%;
  flex-direction: column;
  align-items: center;
}
@media (orientation: landscape) {
  .content {
    width: 50%;
  }
}
