<head>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap" rel="stylesheet">
</head>

<div *ngIf="!isProduction" class="col justify-content-center">
  <!-- TODO remove this button before turning making tokens live -->
  <button id="generateButton" type="button" class="btn btn-success" (click)="switchMap(true)">Switch Map Only
    [DEBUG]</button>
</div>
<div class="content">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-auto">
        <h3>Scenario:</h3>
        <h1>{{selectedScenario}}</h1>
      </div>
      <div class="col-md-push-auto pb-3">
        <button id="scenarioButton" type="button" class="btn btn-success" (click)="onSwitchScenarioButtonClick()"
          ngbTooltip="New Scenario">
          <div class="d-flex align-items-center">
            <i class="icon-shuffle my-1 text-body"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="content m-0 p-0" id="map-holder"  #showWidth >
  <div class="content m-0 p-0" id="map-holder" #showWidth>
    <canvas *appFeatureFlag="'tokens'" id="tokenViewer" width="500"></canvas>
    <canvas id="mapViewer" width="500" style="border: 1px solid rgb(95, 115, 46);"></canvas>
    <canvas *ngIf="showLegend" id="legendViewer" width="500"></canvas>
    <div *ngIf="showLegend" id="legendOverlay">
      <app-map-legend #MapLegendComponent [mapNodes]="mapNodes" [showLegend]="showLegend" (passNodes)="passNodes()"
        (getlegendNodes)="passLegendNodes()"></app-map-legend>
    </div>
    <div *ngIf="isLongLoading" id="overlay" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <i style="color: darkslategray; align-content: center;">{{dwarfText}}</i>
  <div class="container" id="buttonContainer">
    <div class="row align-items-center mt-4">
      <div class="col justify-content-start">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="LegendButton" (click)="toggleMapLegend()">
          <label class="custom-control-label" for="LegendButton">{{legendButton}}</label>
        <div *appFeatureFlag="'tokens'" class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="switchTokens" checked="true"
            (click)="onTokenSwitchClick()">
          <label class="custom-control-label" for="switchTokens">Tokens</label>
        </div>
      </div>
      <div class="col justify-content-center">
        <button id="generateButton" type="button" class="btn btn-success" (click)="switchMapAndScenario()">Generate
          Map</button>
      </div>
      <div class="col justify-content-end">
        <button id="shareButton" type="button" class="btn btn-outline-success" data-toggle="modal"
          (click)="openShareModal(shareModal)" [disabled]="isLongLoading" ngbTooltip="Share this map">
          <div class="d-flex align-items-center">
            <i class="icon-share my-1 text-body"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div>
    <app-ngbd-collapse-basic></app-ngbd-collapse-basic>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<!-- Share Modal -->
<ng-template #shareModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="shareModalTitle">Share this map</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content" id="share-modal-content">
      <qrcode [qrdata]="currentURL" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
      <p>Have your opponent scan this QR code or send them the link below.</p>
      <button type="button" class="btn btn-success" (click)="shareURL()">Share Link</button>
    </div>
  </div>
</ng-template>