<head>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap" rel="stylesheet">
</head>

<div class="content">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-auto">
        <h3>Scenario:</h3>
        <h1>{{selectedScenario}}</h1>
      </div>
      <div class="col-md-push-auto pb-3">
        <button id="scenarioButton" type="button" class="btn btn-success"
          (click)="onSwitchScenarioButtonClick()"
          ngbTooltip="New Scenario" [openDelay]="500">
          <div class="d-flex align-items-center">
            <i class="icon-shuffle my-1 text-body"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="content m-0 p-0" id="map-holder">
    <img (load)="onLoad()" src={{mapDisplay}}>
    <canvas *appFeatureFlag="'mapCanvas'" id="mapViewer" width="600" height="400" style="border: 1px solid black;"></canvas>
    <div *ngIf="isLongLoading" id="overlay" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>  
  </div>
  <i style="color: darkslategray;">{{dwarfText}}</i>
  <div class="container">
    <div class="row align-items-center mt-4">
      <div class="col justify-content-start">
        <!-- this is just for spacing right now, may be used later -->
      </div>
      <div class="col justify-content-center">
        <button id="generateButton" type="button" class="btn btn-success" (click)="switchMapAndScenario()">Generate Map</button>
      </div>
      <div class="col justify-content-end">
        <button id="shareButton" type="button" class="btn btn-outline-success"
          data-toggle="modal" (click)="openShareModal(shareModal)"
          [disabled]="isLongLoading"
          ngbTooltip="Share this map" [openDelay]="500">
          <div class="d-flex align-items-center">
            <i class="icon-share my-1 text-body"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Share Modal -->
<ng-template #shareModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="shareModalTitle">Share this map</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content" id="share-modal-content">
      <qrcode [qrdata]="qrCodeString" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
      <p>Have your opponent scan this QR code or send them the link below.</p>
      <button type="button" class="btn btn-success" (click)="shareURL()">Share Link</button>
    </div>
  </div>
</ng-template>
