<head><link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/></head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class="logo"
    height="115"
    src="assets/img/LogoTile.svg" alt="Battle Maps Tile"/>

  <img
    class="logo"
    height="95"
    src="assets/img/JustTitle.svg" alt="Battle Maps Title"/>
</div>
<div class="alert alert-primary" role="alert">
  This project is currently in development. For more information about this project, or to sign up for our mailing list to stay updated, visit our <a routerLink="../landing-page" class="alert-link">landing page</a>.
</div>
<app-show-map></app-show-map>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="mailto:1603848714584@carlsonmckinnon.com?subject=Contact Battle Maps">Contact</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">Copyright © <a href="http://carlsonmckinnon.com">Carlson McKinnon Consulting, LLC</a> 2020 — v{{ version }}</p>
      </div>
    </div>
  </div>
  </footer>