/* You can add global styles to this file, and also import other style files */

.alert-primary {
    color: black;
    background-color: #dcf3a4;
    border-color: #A2C44F;
    text-align: center;
    margin-bottom: 0%;
    font-size: 14px;
}
.alert-primary hr {
    border-top-color: #A2C44F;
}
.alert-primary .alert-link {
    color: #052415;
}

.btn-primary {
    background-color: #A2C44F;
    border: none;
}
.btn-primary:hover {
    background-color: #89a543;
    border: none;
}
.btn-primary:focus {
    background-color: #89a543;
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(162, 196, 79, 0.5);
}  
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #A2C44F;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #89a543;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(162, 196, 79, 0.5);
}
